:root {
    --azul-oscuro: #152f49;
    --blanco: rgb(255, 249, 241);
    --font-fina: 'Yanone Kaffeesatz', sans-serif;
    --font-redonda: 'Lucida Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blanco);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*-------Navbar-------------------------------------*/

header {
    width: 100%;
}

.navbar {
    background-color: var(--azul-oscuro);
    height: 12vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__contenedor-logo {
    padding: 5%;
}

.navbar__logo {
    width: 100%;
}

.navbar__logo--img {
    width: 100%;
    transition-duration: 1s;
    transition-property: transform;
    transition-timing-function: ease-in;
}

.navbar__logo--img:hover {
    transform: scale(1.2);
}

.navbar__contenedor-menu {
    width: 80%;
    padding: 10%;
}

.navbar__menu--ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--font-fina);
    font-weight: 600;
}

.nav__menu--li a {
    font-size: 130%;
    text-decoration: none;
    color: linen;
    letter-spacing: 1pt;
}

.nav__menu--li :hover {
    font-weight: 800;
    color: lightskyblue;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}


/*---sección Acerca de---------------------------------------*/

.section-about {
    background-color: rgb(0, 0, 51);
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2%;
    margin-top: 12vh;
    padding-bottom: 20px;
}

.section-about h2{
    font-size: 1.2rem;
    color: lightseagreen;
    padding: 5px 0;
}

.about__container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 5%; */
    width: 50%;
}

.about__text {
    color: var(--blanco);
    text-align: center;
    font-family: var(--font-redonda);
    width: 100%;
    padding: 30px 2% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__text--title {
    font-weight: 700;
    font-size: 1.7rem;
    width: 100%;
}

.about__text--description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 3%;
    width: 100%;
    line-height: 1.5rem;
}

.about__button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 2% 0;
}

.botonOscuro,
.botonClaro {
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    height: 2rem;
    font-family: 'Lucida Sans Regular';
    font-weight: 600;
    transition-duration: 1.2s;
    transition-property: transform;
    transition-timing-function: ease-in;
}

.botonClaro {
    background-color: rgb(248, 155, 155);
    color: black;
}

.botonOscuro {
    background-color: rgb(109, 184, 219);
    color: black;
    border-color: transparent;
}

.botonOscuro a {
    text-decoration: none;
    cursor: pointer;
}

.botonClaro:hover,
.botonOscuro:hover {
    transform: scale(1.1);
    color: white;
}

.about__photo-container {
    display: inline-block;
    padding: 2%;
}

.about__photo-container img {
    border-radius: 130px;
}


/*---------Recorrido-------------------------*/

.section-recorrido {
    /* background-color: #A7BFE8; */
    width: 100%;
    height: fit-content;
    background-image: url("./images/flor-de-loto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top: 20px;
    /* z-index: -1; */
}

.section-recorrido::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--azul-oscuro);
    opacity: 0.60;
    mix-blend-mode: multiply;
}

.recorrido__text {
    /* propiedades del font */
    color: var(--blanco);
    text-align: center;
    font-family: var(--font-redonda);
    text-shadow: -1px 1px 8px rgba(0, 0, 0, 0.6);
    /*  */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.recorrido__text h2 {
    font-weight: 700;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
}

.recorrido__text p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 3%;
    width: 100%;
    line-height: 1.5rem;
}


/* ----------work section ------------------------------- */

.work-section {
    width: 100%;
    background-color: rgb(2, 2, 75);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.work-section h2 {
    font-weight: 700;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    font-family: var(--font-redonda);
    padding-bottom: 1.5rem;
}

.work-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.work-ejemplar {
    width: 20%;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
}

.work-img{
    width: 6rem;
    height: 6rem;
}

.work-p {
    font-size: 0.3rem;
    color: darkgoldenrod;
}

/* ---------tecnologias---------------------------------- */

.tecnologias-section {
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tecnologias-section h2 {
    font-weight: 700;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    font-family: var(--font-redonda);
    padding-bottom: 1.5rem;
}

.tecnologias-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tecnologias-container>.fab {
    font-size: 3rem;
}

.fab{
    padding: 0.5rem;
}


/* ---------------contacto-------------- */

.section-contact {
    color: var(--azul-oscuro);
    text-align: center;
    font-family: var(--font-redonda);
    /*  */
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact__img-container {
    width: 30%;
}

.contact__form {
    /* emplazamiento */
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    padding: 2% 0 0;
    /* estilos */
    color: var(--azul-oscuro);
    border: 1 solid transparent;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: -1px 4px 56px -17px rgba(49, 50, 4, 0.86);
    -webkit-box-shadow: -1px 4px 56px -17px rgba(49, 50, 4, 0.86);
    -moz-box-shadow: -1px 4px 56px -17px rgba(49, 50, 4, 0.86);
}

.contact__form:hover {
    background-color: #fafafa;
}

.contact__form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__form li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
}

.contact__form li input,
textarea {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--azul-oscuro);
    border-radius: 10px;
    /* emplazamiento */
    size: 2em;
    width: 100%;
    padding: 6px;
    transition: all 3s ease;
    /* propiedades del font */
    font-family: inherit;
    font-weight: inherit;
    color: var(--azul-oscuro);
    letter-spacing: 0.07rem;
}

.contact__submit-button {
    background-color: rgb(124, 212, 190);
    border: none;
    font-family: var(--font-fina);
    font-weight: 600;
    letter-spacing: 0.15em;
    height: 1.7rem;
    width: 30%;
    margin-bottom: 1%;
    border-radius: 10px;
    transition-duration: 1s;
    transition-property: color, background-color;
}

.contact__submit-button:hover {
    background-color: rgb(218, 13, 200);
    color: white;
}


/* -----footer---------- */

footer {
    height: 10vh;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #2473f1, #373B44);
    background: linear-gradient(to right, #2473f1, #373B44);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__redes li {
    display: block;
}

.footer__redes li.a {
    text-decoration: none;
}

.fab {
    color: var(--blanco);
    font-size: 1.3rem;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.fab:hover {
    color: rgb(255, 179, 149);
    font-size: 2rem;
}


/* ************************************************** */


/* responsive */

@media (max-width:600px) {
    /* navbar */
    .menu {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    /* section about */
    .about {
        width: 40%;
    }
    .about-photo-container {
        max-width: 40%;
    }
}