:root {
    --azul-oscuro: #152f49;
    --blanco: rgb(255, 249, 241);
    --font-fina: 'Yanone Kaffeesatz', sans-serif;
    --font-redonda: 'Lucida Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blanco);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*-------Navbar-------------------------------------*/

header {
    width: 100%;
}

.navbar-principal {
    background-color: var(--azul-oscuro);
    height: 12vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-logo {
    padding: 5%;
}

#logo {
    width: 100%;
}

.contenedor-menu {
    width: 80%;
    padding: 10%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--font-fina);
    font-weight: 600;
}

a {
    font-size: 130%;
    text-decoration: none;
    color: linen;
    letter-spacing: 1pt;
}

li :hover {
    font-weight: 800;
    color: lightskyblue;
    padding-bottom: 10px;
    border-bottom: 1px solid lightsteelblue;
}


/*---sección Acerca de---------------------------------------*/

.section-about {
    background-color: var(--blanco);
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2%;
    margin-top: 12vh;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 5%; */
    width: 50%;
}

.text-about {
    color: var(--azul-oscuro);
    text-align: center;
    font-family: var(--font-redonda);
    width: 100%;
    padding: 30px 2% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    font-weight: 700;
    font-size: 1.7rem;
    width: 100%;
}

.about-description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 3%;
    width: 100%;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 2%;
}

.botonOscuro,
.botonClaro {
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    height: 2rem;
    font-family: 'Lucida Sans Regular';
    font-weight: 600;
}

.botonClaro {
    background-color: rgb(248, 155, 155);
    color: black;
}

.botonOscuro {
    background-color: rgb(109, 184, 219);
    color: black;
}

.about-photo-container {
    display: inline-block;
    padding: 2%;
}


/*---------historia-------------------------*/

.my-story {
    /* background-color: #A7BFE8; */
    width: 100%;
    background-image: url("./images/flor-de-loto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -1; */
}


/* 
.my-story::before {
    background-color: var(--azul-oscuro);
    mix-blend-mode: overlay;
    z-index: 0;
} */

.story-text {
    /* propiedades del font */
    color: var(--blanco);
    text-align: center;
    font-family: var(--font-redonda);
    text-shadow: -1px 1px 8px rgba(0, 0, 0, 0.6);
    /*  */
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.my-story h2 {
    font-weight: 700;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
}

.my-story p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 3%;
    width: 100%;
}


/* ---contacto----- */

.contact {
    color: var(--azul-oscuro);
    text-align: center;
    font-family: var(--font-redonda);
    /*  */
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-img {
    width: 30%;
}

.contact-form {
    /* emplazamiento */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    /* estilos */
    color: var(--azul-oscuro);
    border: 1 solid transparent;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: -1px 4px 56px -17px rgba(49, 50, 4, 0.86);
    -webkit-box-shadow: -1px 4px 56px -17px rgba(49, 50, 4, 0.86);
    -moz-box-shadow: -1px 4px 56px -17px rgba(49, 50, 4, 0.86);
}

.contact-form:hover {
    background-color: #fafafa;
}

.contact-form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
}

.contact-form li input,
textarea {
    background-color: transparent;
    size: 2em;
    width: 100%;
    border: 1px solid var(--azul-oscuro);
    border-radius: 10px;
    padding: 6px;
    transition: all 3s ease;
}

.submit-button {
    background-color: rgb(124, 212, 190);
    border: none;
    font-family: var(--font-fina);
    font-weight: 600;
    letter-spacing: 0.15em;
    height: 1.7rem;
    width: 30%;
    margin-bottom: 1%;
    border-radius: 10px;
}


/* -----footer---------- */

footer {
    height: 10vh;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--blanco);
    letter-spacing: 0.1em;
}

.redes li {
    display: block;
}


/* ************************************************** */


/* responsive */

@media (max-width:600px) {
    /* navbar */
    .menu {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    /* section about */
    .about {
        width: 40%;
    }
    .about-photo-container {
        max-width: 40%;
    }
}